#
# Copyright 2021-2023 Tenebris Technologies Inc.
#
[Unit]
Description=sqs2gl
After=network.target

[Service]
WorkingDirectory=/opt/sqs2gl
User=root
Group=root
Restart=always
ExecStart=/opt/sqs2gl/sqs2gl /opt/sqs2gl/sqs2gl.conf

[Install]
WantedBy=multi-user.target
Alias=sqs2gl.service